<app-navbar></app-navbar>
<div class="w3-section container">
  <div class="title w3-padding">
    <h3 class="w3-text-pink"><b>{{'error.404' | translate}}</b></h3>
  </div>
  <div class="w3-card-4 card w3-padding w3-white">
    <div class="w3-row-padding w3-padding w3-text-pink">
      <p><b>{{'error.notFound' | translate}}</b></p>
      <button class="w3-button w3-pink w3-hover-text-pink w3-hover-white w3-border" [routerLink]="['']">{{'error.return' | translate}}</button>
      <hr class="footer">
      <div class="w3-center">
        <p class="margin0 help">{{'various.help' | translate}}</p>
        <span class="copyright">&#9400; Maxime Gendron - {{y}}</span>
      </div>
    </div>
  </div>
</div>
