<div class="w3-pink w3-bar w3-large w3-hide-small">
  <div class="container">
    <a [routerLink]="['/index']" class="w3-bar-item w3-text-light-white w3-xlarge"><i class="fas fa-book"></i></a>
    <a [routerLink]="['/create']" class="w3-bar-item w3-text-light-white w3-xlarge">{{'various.add' | translate}}</a>
    <a (click)="auth.signOut()" class="w3-bar-item w3-text-light-white w3-xlarge w3-right pointer">{{'navbar.logout' | translate}}</a>
    <div *ngIf="translate.getDefaultLang() == 'fr'; then fr else en"></div>
    <ng-template #fr>
      <a (click)="translate.setDefaultLang('en')" class="w3-bar-item w3-text-light-white w3-xlarge w3-right pointer"><img height="24px" width="40px" class="w3-border w3-border-black" src="../../assets/Image/united.png"></a>
    </ng-template>
    <ng-template #en>
      <a (click)="translate.setDefaultLang('fr')" class="w3-bar-item w3-text-light-white w3-xlarge w3-right pointer"><img height="24px" width="40px" class="w3-border w3-border-black" src="../../assets/Image/france.png"></a>
    </ng-template>
  </div>
</div>

<div class="w3-pink w3-bar w3-large w3-hide-medium w3-hide-large">
  <div class="container">
    <a [routerLink]="['/index']" class="w3-bar-item w3-text-light-white w3-xlarge"><i class="fas fa-book"></i></a>
    <a class="w3-bar-item w3-text-light-white w3-hide-medium w3-hide-large w3-xlarge w3-right" (click)="show()"><i class="fa fa-bars"></i></a>
    <div *ngIf="translate.getDefaultLang() == 'fr'; then fr else en"></div>
    <ng-template #fr>
      <a (click)="translate.setDefaultLang('en')" class="w3-bar-item w3-text-light-white w3-xlarge w3-right pointer"><img height="24px" width="40px" class="w3-border w3-border-black" src="../../assets/Image/united.png"></a>
    </ng-template>
    <ng-template #en>
      <a (click)="translate.setDefaultLang('fr')" class="w3-bar-item w3-text-light-white w3-xlarge w3-right pointer"><img height="24px" width="40px" class="w3-border w3-border-black" src="../../assets/Image/france.png"></a>
    </ng-template>
  </div>
</div>

<div id="smallNav" class="w3-bar-block w3-pink w3-hide w3-hide-large w3-hide-medium w3-top">
  <a [routerLink]="['/create']" class="w3-bar-item w3-text-light-white w3-large w3-border-top">{{'various.add' | translate}}</a>
  <a (click)="auth.signOut()" class="w3-bar-item w3-text-light-white w3-large pointer w3-border-top">{{'navbar.logout' | translate}}</a>
</div>

