<app-navbar></app-navbar>
<div class="w3-section container" id="index">
  <div class="title w3-padding w3-row">
    <h1 class="w3-text-pink w3-col l6 m6"><b>{{'index.list' | translate}}</b></h1>
    <div class="w3-col l6 m6">
      <span class="w3-text-pink w3-large"><b>{{'index.search' | translate}} <span class="w3-small">({{'various.name' | translate}})</span></b></span>
      <input (keyup)="rechercher()" class="w3-input" [(ngModel)]="recherche">
    </div>
  </div>
  <div class="w3-card-4 w3-padding w3-text-pink w3-white">
    <div class="w3-row w3-border-bottom w3-border-black w3-text-black">
      <span class="w3-col l5 m5 s5 w3-large"><i class="fas fa-sort-alpha-down pointer w3-text-pink" id="nameFilter" (mouseover)="hover('name')" (click)="filterName()"></i></span>
      <span class="w3-col l4 m4 s7 w3-large"><i class="fas fa-sort-amount-down pointer" id="starFilter" (mouseover)="hover('star')" (click)="filterStar()"></i></span>
    </div>
    <div *ngIf="recettesAff.length == 0; then none else aff"></div>
    <ng-template #aff>
      <div class="w3-row w3-border-bottom w3-border-black" *ngFor="let r of recettesAff | paginate: { itemsPerPage: 20, currentPage: p }">
        <span class="w3-col l5 m5 s5 w3-large overflow">{{r.name}}</span>
        <ng-template [ngIf]="r.nbStar === 0">
        <span class="w3-col l4 m4 s4 w3-large">
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </span>
        </ng-template>
        <ng-template [ngIf]="r.nbStar === 1">
        <span class="w3-col l4 m4 s4 w3-large">
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </span>
        </ng-template>
        <ng-template [ngIf]="r.nbStar === 2">
        <span class="w3-col l4 m4 s4 w3-large">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </span>
        </ng-template>
        <ng-template [ngIf]="r.nbStar === 3">
        <span class="w3-col l4 m4 s4 w3-large">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </span>
        </ng-template>
        <ng-template [ngIf]="r.nbStar === 4">
        <span class="w3-col l4 m4 s4 w3-large">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </span>
        </ng-template>
        <ng-template [ngIf]="r.nbStar === 5">
        <span class="w3-col l4 m4 s4 w3-large">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </span>
        </ng-template>
        <div class="w3-col l3 m3 s3 w3-center">
          <span [routerLink]="['/detail',r.name]" class="filter pointer w3-large padding0">{{'index.detail' | translate}}</span>
        </div>
      </div>
      <div class="w3-center padding10top">
        <pagination-controls previousLabel="{{'index.previous' | translate}}" nextLabel="{{'index.next' | translate}}" class="my-pagination" (pageChange)="p = $event"></pagination-controls>
      </div>
    </ng-template>
    <ng-template #none>
      <div *ngIf="recettes.length == 0; then noRecette else noRech"></div>
      <ng-template #noRech>
        <div class="w3-center w3-large">
          <p>{{'index.noCriteria' | translate}}</p>
        </div>
      </ng-template>
      <ng-template #noRecette>
        <div class="w3-center w3-large">
          <p>{{'index.noRecipe' | translate}} <a id="here" [routerLink]="['/create']" class="w3-bar-item w3-text-black w3-hover-text-pink">{{'index.here' | translate}}</a></p>
        </div>
      </ng-template>
    </ng-template>
    <hr class="margin0">
    <div class="w3-center">
      <p class="margin0 help">{{'various.help' | translate}}</p>
      <span class="copyright">&#9400; Maxime Gendron - {{y}}</span>
    </div>
  </div>
</div>
